@font-face {
  font-family: 'Rubik';
  src: url(Rubik-VariableFont_wght.ttf) format('woff2');
 }

body {
    color: rgb(214, 207, 207);
    background-color: #2b3332da;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}


header, section {
    font-family: 'Rubik';
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000000;
    border-bottom: 1px solid #f0bdbd;
    background: linear-gradient(to bottom right, #000000, #443f3f, #000000);
}
header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(10px);
    z-index: -1;
  }
nav {
    flex: 1;
    margin: 0 20px;
}

nav ul {
    list-style: none;
    display:flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    display: flex;
    background-position: center center;
    background-size: cover;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    border-radius: 1rem;
    padding: 10px 30px ;
    color: #ffffff;
    text-transform: uppercase;
    /*font-size: 1.5rem;
    border-radius: 5px;
    padding: 10px 20px;
    border-radius: 10px;*/
    transition: all 0.2s ease-in-out;
    transform: translateY(0);
}

nav a:hover {
    /*color: #ffffff;
    transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
    text-shadow: 2px 2px 2px #080808; ;*/
    border-radius: 1rem;
    padding: 10px 30px ;
    background: linear-gradient(to bottom right, #444343, #443f3f, #4b4b4b);
    transform: rotate(10deg);
    color: #f7f7f7;
    transform: translateY(-3px);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
section {
    padding: 50px;
    background: linear-gradient(to bottom, #3f4141, #000000);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
/*section:hover {
    background-color: #ff0000;
  }

/*fuentes*/
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
  }
  h1, h2 {
    font-weight: 600;
    text-shadow: 2px 2px 2px rgba(255, 0, 0, 0.3);
    transform: rotate(-2deg);
    /*box-shadow: 2px 2px 2px rgba(245, 0, 0, 0.3);*/
}
h3, h4, h5, h6, p {
    font-weight: 400;
  }
h1 {
    margin: 0;
    font-weight: normal;
    font-size: 4rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

footer {
    background-color: rgba(79, 73, 133, 0.9);
  transition: opacity 0.2s ease-in-out;
  opacity: 0.9;
}
footer:hover {
    opacity: 10;
  }
/* Estilos para pantallas grandes */
@media screen and (min-width: 1024px) {
    /* Cambiar el ancho del contenido principal */
    main {
      max-width: 960px;
      margin: 0 auto;
    }
    
    /* Cambiar la disposición de los elementos de navegación */
    nav ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    nav ul li {
      margin: 0 20px;
    }
    
    /* Cambiar el tamaño de los encabezados */
    h1 {
      font-size: 4rem;
    }
    
    h2 {
      font-size: 2.5rem;
    }
  }
  
  /* Estilos para pantallas medianas */
  @media screen and (max-width: 1023px) {
    /* Cambiar la disposición de los elementos de navegación */
    nav ul {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    nav ul li {
      margin: 10px 0;
    }
    
    /* Cambiar el tamaño de los encabezados */
    h1 {
      font-size: 3rem;
      margin-bottom: 1.5rem;
    }
    
    h2 {
      font-size: 2rem;
    }
  }
  
  /* Estilos para pantallas pequeñas */
  @media screen and (max-width: 767px) {
    /* Cambiar el tamaño de los encabezados */
    h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    
    h2 {
      font-size: 1.5rem;
    }
}
/*clases*/
@keyframes heading-entrance {
    from {
      transform: translate(-50%, -50%) scale(0.8);
      opacity: 0;
    }
    to {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
  }
  
.animated-heading {
    animation-name: heading-entrance;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.2s;
  }
  /*boton*/
  .boton-navegacion {
    background-color: #7a72c4;
    color: #ff0000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  .boton-navegacion-hover {
    background-color: #3ebacf;
  }
  
  .boton-navegacion-animado {
    transform: rotate(45deg);
  }
/*parallax*/
.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #inicio {
    background-image: url('https://i.pinimg.com/originals/77/42/0d/77420df3f9e33db5b79ee25455d3340e.png');
  }
  
  #parallax1 {
    background-image: url('https://i.pinimg.com/originals/7c/4a/5a/7c4a5a5ee7b7e5955007391b2ce55665.jpg');
  }
  
  #parallax2 {
    background-image: url('https://img3.wallspic.com/previews/7/3/6/4/14637/14637-negro-monocromo-modo_monocromo-inmueble-edificio-550x310.jpg');
  }
  
  .parallax-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    padding: 100px 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .parallax-content h1 {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.3);
    padding-top: 100px;
    margin-bottom: 30px;
  }
  
  .parallax-content p {
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.3);
    margin-bottom: 50px;
  }